# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

prisma/migrations
prisma/chat-app.db
prisma/chat-app-production.db
prisma/chat-app.db-journal
prisma/chat-app-production.db-journal
